variables:
  PROJECT_VERSION: 1.2-SNAPSHOT
  SLS_IMAGE: registry.gitlab.ost.ch:45023/stefan.kapferer/serverless-framework-docker-image/sls:v1.1
  SLS_AWS_SDK: 3

stages:
  - pre
  - build
  - deploy

top-level-job:
  stage: pre
  script:
    - echo "Build will start soon..." # Workflows need to contain at least one top level job

include:
  - local: 'manager/manager.gitlab-ci.yml'
    rules:
      - changes:
        - 'manager/**'
  - local: 'resolver/resolver.gitlab-ci.yml'
    rules:
      - changes:
        - 'resolver/**'
  - local: 'eventbridge/eventbridge.gitlab-ci.yml'
    rules:
      - changes:
        - 'eventbridge/**'
