org: ${env:TLA_SAMPLE_APP_SERVERLESS_ORG}
app: tla-eventbridge-serverless
service: tla-eventbridge-serverless
provider:
  name: aws
  region: us-east-1
  timeout: 10

resources:
  Resources:
    TLAEventBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: TLAEventBus
  Outputs:
      TLAEventBusName:
        Value: !GetAtt TLAEventBus.Name
        Export:
          Name: TLAEventBusName