name: Build and deploy main branch

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_manager:
    name: Build TLA Manager
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y zip curl libicu-dev
      - name: Install .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0'
      - name: Build using shell script
        working-directory: manager
        run: ./.build.sh
      - uses: actions/cache@v5
        id: cache-manager-release
        with:
          path: manager/bin/release/net10.0
          key: tla-sample-app-serverless-manager-release-${{ github.run_id }}
  build_resolver:
    name: Build TLA Resolver
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Install Graphviz
        run: sudo apt-get -y install graphviz
      - name: Build with Maven
        working-directory: resolver
        run: ./mvnw -B package --file pom.xml
      - uses: actions/cache@v5
        id: cache-resolver-target
        with:
          path: resolver/target
          key: tla-sample-app-serverless-resolver-target-${{ github.run_id }}

  deploy_event_bridge:
    name: Deploy Infrastructure (Event Bridge)
    runs-on: ubuntu-latest
    needs:
      - build_manager
      - build_resolver
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 25.x
        uses: actions/setup-node@v6
        with:
          node-version: 25.x
      - run: npm install -g serverless
      - run: serverless deploy
        working-directory: eventbridge
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
          TLA_SAMPLE_APP_SERVERLESS_ORG: ${{ secrets.TLA_SAMPLE_APP_SERVERLESS_ORG }}
          SLS_AWS_SDK: 3
  deploy_manager:
    name: Deploy TLA Manager
    runs-on: ubuntu-latest
    needs:
      - build_manager
      - deploy_event_bridge
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 25.x
        uses: actions/setup-node@v6
        with:
          node-version: 25.x
      - uses: actions/cache@v5
        id: cache-manager-release
        with:
          path: manager/bin/release/net10.0
          key: tla-sample-app-serverless-manager-release-${{ github.run_id }}
      - run: npm install -g serverless
      - run: serverless deploy
        working-directory: manager
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
          TLA_SAMPLE_APP_SERVERLESS_ORG: ${{ secrets.TLA_SAMPLE_APP_SERVERLESS_ORG }}
          SLS_AWS_SDK: 3
      - run: serverless invoke --function seedDatabase --data 'unused'
        working-directory: manager
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
          TLA_SAMPLE_APP_SERVERLESS_ORG: ${{ secrets.TLA_SAMPLE_APP_SERVERLESS_ORG }}
          SLS_AWS_SDK: 3
  deploy_resolver:
    name: Deploy TLA Resolver
    runs-on: ubuntu-latest
    needs:
      - build_resolver
      - deploy_event_bridge
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 25.x
        uses: actions/setup-node@v6
        with:
          node-version: 25.x
      - uses: actions/cache@v5
        id: cache-resolver-target
        with:
          path: resolver/target
          key: tla-sample-app-serverless-resolver-target-${{ github.run_id }}
      - run: npm install -g serverless
      - run: serverless deploy
        working-directory: resolver
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
          TLA_SAMPLE_APP_SERVERLESS_ORG: ${{ secrets.TLA_SAMPLE_APP_SERVERLESS_ORG }}
          SLS_AWS_SDK: 3
      - run: serverless invoke --function seedDatabase --data 'unused'
        working-directory: resolver
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
          TLA_SAMPLE_APP_SERVERLESS_ORG: ${{ secrets.TLA_SAMPLE_APP_SERVERLESS_ORG }}
          SLS_AWS_SDK: 3
