name: Undeploy (manual)

on:
  workflow_dispatch:

jobs:
  undeploy_resolver:
    name: Undeploy Resolver
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 25.x
        uses: actions/setup-node@v6
        with:
          node-version: 25.x
      - run: npm install -g serverless
      - run: serverless remove
        working-directory: resolver
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
          SLS_AWS_SDK: 3
  undeploy_manager:
    name: Undeploy Manager
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 25.x
        uses: actions/setup-node@v6
        with:
          node-version: 25.x
      - run: npm install -g serverless
      - run: serverless remove
        working-directory: manager
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
          SLS_AWS_SDK: 3
  undeploy_eventbridge:
    name: Undeploy Infrastructure (Event Bridge)
    runs-on: ubuntu-latest
    needs:
      - undeploy_resolver
      - undeploy_manager
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 25.x
        uses: actions/setup-node@v6
        with:
          node-version: 25.x
      - run: npm install -g serverless
      - run: serverless remove
        working-directory: eventbridge
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
          SLS_AWS_SDK: 3
